@font-face {font-family: "LTCRecordTitleW00-Regular"; src: url("//db.onlinewebfonts.com/t/ad230925aac0325de699bf05b6bdfa0c.eot"); src: url("//db.onlinewebfonts.com/t/ad230925aac0325de699bf05b6bdfa0c.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ad230925aac0325de699bf05b6bdfa0c.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ad230925aac0325de699bf05b6bdfa0c.woff") format("woff"), url("//db.onlinewebfonts.com/t/ad230925aac0325de699bf05b6bdfa0c.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ad230925aac0325de699bf05b6bdfa0c.svg#LTCRecordTitleW00-Regular") format("svg"); }

.fontMediul {
    font-size: 22.5px;
}

html {
    scroll-behavior: smooth;

}

body {
    overflow-x: hidden;
    font-family: 'LTCRecordTitleW00-Regular';
}

.mt-100 {
    margin-top: 100px !important;
}

.mb-100 {
    margin-bottom: 100px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.cardMinHeight {
    min-height: 400px;
}

.row {
    margin: 0 !important;
}

.container-fluid {
    padding: 0 !important;
}

.colPadding {
    padding-left: 0 !important;
}

.specialRow {
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.fontFamily {
    font-family: "Cinzel", Arial, Tahoma, sans-serif;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 2px;
}

.gradientBackground {
    background-image: linear-gradient(to top,rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.95));
}

.gradientBackgroundBottom {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.blackBackground {
    background-color: black;
}

.faArrow {
    font-size: 50px !important;
}

.btn-group-home-page {
    width: 200px;
}

.btn-group-home-page:hover >.fa-arrow-down {
    color: grey !important;
}

.parent {
    overflow: hidden;
    position: relative;
    display: inline-block;
    padding: 0 !important;
}

.child {
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.parent:hover .child, .parent:focus .child {
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.parent:hover .child:before, .parent:focus .child:before {
    display: block;
}

.child::before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.2;
}

#yourElement {
    background: url("http://mdbootstrap.com/images/proffesions/reg/coach/img%20(1).jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.cardHover:hover {
    background-color: grey;
    opacity: 0.8;
}

.slowTranzition {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
